# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
public/style.css
public/css/all.min.css
public/css/animate.min.css
public/css/bootstrap.min.css
public/css/datepicker.min.css
public/css/fullcalendar.min.css
public/css/jquery.dataTables.min.css
public/css/main.css
public/css/normalize.css
public/css/select2.min.css
public/fonts/flaticon.css
public/fonts/Flaticon.eot
public/fonts/Flaticon.svg
public/fonts/Flaticon.ttf
public/fonts/Flaticon.woff
public/fonts/Flaticon.woff2
public/fonts/Flaticond41d.eot
public/images/sort_asc_disabled.html
public/images/sort_asc.html
public/images/sort_both.html
public/images/sort_desc_disabled.html
public/images/sort_desc.html
public/img/favicon.png
public/img/logo.png
public/img/logo1.png
public/img/logo2.png
public/img/preloader.gif
public/img/figure/admin.jpg
public/img/figure/login-bg.jpg
public/img/figure/parents.jpg
public/img/figure/student.png
public/img/figure/student1.jpg
public/img/figure/student1.png
public/img/figure/student2.png
public/img/figure/student3.png
public/img/figure/student4.png
public/img/figure/student5.png
public/img/figure/student6.png
public/img/figure/student7.png
public/img/figure/student8.png
public/img/figure/student9.png
public/img/figure/student10.png
public/img/figure/student11.png
public/img/figure/student12.png
public/img/figure/student13.png
public/img/figure/teacher.jpg
public/img/figure/user.jpg
public/img/figure/user1.jpg
public/img/figure/user2.jpg
public/img/figure/user3.jpg
public/img/figure/user4.jpg
public/img/figure/user5.jpg
public/js/bootstrap.min.js
public/js/Chart.min.js
public/js/datepicker.min.js
public/js/fullcalendar.min.js
public/js/google-marker-map.js
public/js/jquery-3.3.1.min.js
public/js/jquery.counterup.min.js
public/js/jquery.dataTables.min.js
public/js/jquery.scrollUp.min.js
public/js/jquery.smoothscroll.min.html
public/js/jquery.waypoints.min.js
public/js/main.js
public/js/modernizr-3.6.0.min.js
public/js/moment.min.js
public/js/plugins.js
public/js/popper.min.js
public/js/select2.min.js
public/webfonts/fa-brands-400.eot
public/webfonts/fa-brands-400.html
public/webfonts/fa-brands-400.ttf
public/webfonts/fa-brands-400.woff
public/webfonts/fa-brands-400.woff2
public/webfonts/fa-brands-400d41d.eot
public/webfonts/fa-regular-400.eot
public/webfonts/fa-regular-400.html
public/webfonts/fa-regular-400.ttf
public/webfonts/fa-regular-400.woff
public/webfonts/fa-regular-400.woff2
public/webfonts/fa-regular-400d41d.eot
public/webfonts/fa-solid-900.eot
public/webfonts/fa-solid-900.html
public/webfonts/fa-solid-900.ttf
public/webfonts/fa-solid-900.woff
public/webfonts/fa-solid-900.woff2
public/webfonts/fa-solid-900d41d.eot
